
    #slideshow {
      width: 600px;
      height: 500px;
      position: relative;
      overflow: hidden;
    }
    #slideshow img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s;
    }
    #slideshow img.active {
      opacity: 1;
    }